* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* reuseable */

.right {
    background-color: rgba(38, 194, 98, 0.6) !important;
}

.false {
    background-color: rgba(195, 82, 82, 0.6) !important;

}

.noclick {
    pointer-events: none;
}

.no-border {
    border: none !important;
}

.title {
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

.card {
    transition: all 225ms ease-in-out;
}

.card-body {
    display: flex;
    flex-direction: column;
}


.card:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.01);
    transition: all 225ms ease-in-out;
}

.quiz-card {
    width: 36rem;
}

.quiz-card:hover {
    box-shadow: none;
    transform: none;
}

.card-text {
    text-align: justify;
}

.quiz-img {
    height: 150px;
    object-fit: cover;
}

.quiz-text {
    text-align: center;

}

.list-group {
    margin-top: 10px;
    margin-bottom: 20px !important;
}

.list-group-item {
    text-align: center;
}

.list-group-item:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.quiz-footer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

.quiz-number {
    margin: 0;
    font-size: 12px;
}

.page-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(./img/earth.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 10px 100px;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.points {
    width: 150px;
    text-align: right;
}

.fixed-top {
    z-index: 800 !important;
}

.popup-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(80, 80, 80, 0.9);
}

.modal {
    transition: all 500ms ease-in-out;
}


.popup-out {
    top: -300px !important;
    transition: all 1s ease-in-out;
}


.show-popup {
    display: block !important;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-home {
    font-size: 10px !important;
}