* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

/* reuseable */

.right {
    background-color: rgba(38, 194, 98, 0.6) !important;
}

.false {
    background-color: rgba(195, 82, 82, 0.6) !important;

}

.noclick {
    pointer-events: none;
}

.no-border {
    border: none !important;
}

.title {
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

.card {
    transition: all 225ms ease-in-out;
    z-index: 500 !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}


.card:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.01);
    transition: all 225ms ease-in-out;
}

.quiz-card {
    width: 36rem;
    position: fixed !important;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-45%);
}

.no-hover:hover {
    box-shadow: none;
    transform: translateY(-45%);
}

.card-text {
    text-align: justify;
}

.quiz-img {
    height: 150px;
    object-fit: cover;
}

.quiz-text {
    text-align: center;

}

.list-group {
    margin-top: 10px;
    margin-bottom: 20px !important;
}

.list-group-item {
    text-align: center;
}

.list-group-item:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.quiz-footer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

.quiz-number {
    margin: 0;
    font-size: 12px;
}

.page-wrapper {
    width: 100vw;
    min-height: 100vh;
    background-image: url(./img/earth.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px 80px 100px;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.points {
    width: 150px;
    text-align: right;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.fixed-top {
    z-index: 800 !important;
}

.popup-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(80, 80, 80, 0.9);
}

.modal {
    transition: all 500ms ease-in-out;
}


.popup-out {
    top: -300px !important;
    transition: all 1s ease-in-out;
}


.show-popup {
    display: block !important;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.button-home {
    font-size: 10px !important;
}

.trophy {
    height: 200px;
    object-fit: contain;
    margin-top: 40px;
}

.progress {
    width: 300px;
    position: relative;
}

#progress {
    position: absolute;
    left: 50%;
    top: -1px;
    font-size: 12px;
    color: black;
    z-index: 999;
    transform: translateX(-50%);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    align-items: flex-start !important;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* respnsive section */
@media(max-width:700px) {
    .footer {
        justify-content: center;
    }
}

@media(max-width:650px) {
    .progress {
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        margin: auto;
        width: 30rem;
    }

    .page-wrapper {
        padding-top: 63px;
    }

    .points {
        width: auto;
    }

    .quiz-card {
        width: 30rem;
    }

    .quiz-img {
        height: 120px;
    }
}

@media(max-width:550px) {
    .card {
        width: 90vw !important;
    }

    .quiz-text {
        font-size: 14px;
    }

    .list-group-item {
        font-size: 14px;
    }

    .progress {
        width: 90%;
    }
}

@media(max-width:400px) {
    .title {
        font-size: 20px;
    }

    .navbar-brand {
        margin-right: 4px !important;
    }

    .points {
        margin-left: 4px !important;
    }

    .quiz-footer>button {
        font-size: 14px;
    }

    #retry-quiz {
        padding-left: 5px;
        padding-right: 5px;
    }

    #end-quiz {
        padding-left: 5px;
        padding-right: 5px;
    }
}


@media(max-width:360px) {
    .quiz-text {
        font-size: 12px;
    }

    .list-group-item {
        font-size: 12px;
    }

    .quiz-footer>button {
        font-size: 12px;
    }
}

@media(max-height: 550px) {
    .quiz-card {
        position: static !important;
        transform: none;
    }

    .quiz-card:hover {
        transform: none;
    }

    .footer {
        position: absolute;
    }
}